{% extends "layout.html" %}
{% block content %}

    <header class="header">
        <h1>Home</h1>
    </header>
    <main class="main">
        <section class="section">
            <div class="pad">
                <img class="userimg" src="{{ url_for('static', filename='img/userimg.jpg') }}" alt="userimg">
                <p>username</p>
            </div>
            <article class="pad">
                <h3>Article Subject</h3>
                <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat velit ut eaque deserunt accusantium maxime! 
                    Velit laborum dolorum dicta aliquam excepturi atque deleniti consequuntur, eos facere, omnis in repellat suscipit.
                </p>
                <p class="date">20/05/2025</p>
            </article>
        </section>
    </main>
    <footer class="footer">
        <nav class="nav">
            <a class="anchor active" href="{{ url_for('home') }}">
                <i class="fa-solid fa-paper-plane"></i>
                <p class="small_size">Home</p>
            </a>
        </nav>
        <nav class="nav">
            <a class="anchor" href="{{ url_for('media') }}">
                <i class="fa-regular fa-circle-play"></i>
                <p class="small_size">Media</p>
            </a>
        </nav>
        <nav class="nav">
            <a class="anchor" href="{{ url_for('chat') }}">
                <i class="fa-regular fa-comment"></i>
                <p class="small_size">Chat</p>
            </a>
        </nav>
        <nav class="nav">
            <a class="anchor" href="{{ url_for('file') }}">
                <i class="fa-regular fa-user"></i>
                <p class="small_size">File</p>
            </a>
        </nav>
    </footer>

{% endblock content %}